body {
  background-color: lightblue;
  background-image: url("bg_image.png");
}

h1 {
  color: #191970;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h3 {
  color: #6a5acd;
  text-align: center;
  
pre {
	text-align: left;
	font-family: garmond;
}

#grad {
  background-image: linear-gradient(#191970, #39FF14);
}

