body {
  background-image: url("https://t3.ftcdn.net/jpg/05/11/77/14/360_F_511771444_nEuZH56Fac7RgRxVJrBZP7b2xDqH04PE.jpg");
}

h1 {
  color: #b5def1;
  text-align: center;
}

h2 {
	text-align: left;
	color: #36827F;
}


p {
	margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  font-family: verdana;
  font-size: 20px;
  color: #fac6d9;
}

div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

h3 {
  color: #D4AF37;
  text-align: left;
  font-family: 'Poem Letters Serif', sans-serif;
  font-size: 45px;
  background-color: #12674A;
}
