body {
  background-image: url("https://t3.ftcdn.net/jpg/05/11/77/14/360_F_511771444_nEuZH56Fac7RgRxVJrBZP7b2xDqH04PE.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

header {
	background-color: powderblue;
	color: #fff
	padding: 1em 0;
}

nav ul {
	list-style: none;
	padding: 10px;
}

nav li{
	display: inline;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #fff
	font-weight: bold;
}

main {
	margin-top: 25px;
	padding: 25px:
	background-color: powderblue;
}

#poems-collection {
	margin-top: 30px;
}

#poem-list {
	list-style: None;
	padding: 0;
}

#poem-list li {
	margin-bottom: 30px;
}

#poem-list h3 {
	color: #333
}
	
#intro-section {
	margin-bottom: 45px;
}

/*
h1 {
  text-align: center;
}

h2 {
	text-align: left;
}


p {
	margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  font-family: verdana;
  font-size: 20px;
}

div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}

h3 {
  text-align: left;
  font-family: 'Poem Letters Serif', sans-serif;
  font-size: 45px;
  background-color: #12674A;
}
*/